<nav class="navbar navbar-expand-lg    ">

      <a navbar-brand href="#" class="brand_name" ><img src="../assets/logo_2.png">Return</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#mynav">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="mynav">

      <ul class="navbar-nav mr-auto nav_left_item ">
         <li class="nav-item">

          <a class="nav-link active" href="#" style="color:white;">SUPPORT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#" style="color:white;">NOTICIFICATION</a>
        </li>
      </ul>


      <ul class="nav navbar-nav text-center">
        <li>
          <div class="searchbar " ><input class="search_input" type="text" name=""  placeholder="Search by Keywords..."  >
          <i class="fa fa-search"></i> </div>
        </li>
      </ul>

      <br>
      <ul  class="navbar-nav ml-auto">
        <li>
        <table>
         <tr>
            <td colspan="2" style="text-align: center;">
              <a  class="user_name" href="#">Hi Greg!</a>
            </td>
         </tr>

         <tr>
            <td>
            <a class="nav-link nav_right_item" href="#" ><b>ACCOUNT </b></a>
          </td>
          <td>
            <a class="nav-link nav_right_item" href="#" ><b>LOGOUT</b></a>
          </td>
          </tr>

        </table>
        </li>

        <li>
         <img src="../assets/contact.png" width="60" height="60" class="contact">
        </li>


      </ul>
      </div>



</nav>



<div class="container"><br>
  <div class="row" style="border: 1px solid #3333ff; height:60%; width:90%">
    <div class="col-md-9 mt-3" style="margin">
      <form>
        <div class="form-group" class="row">
          <div class="col-sm-3">
             <input class="input1" type="text" name="first_name" placeholder=" CTO">
          </div>
          <div class="col-sm-3">
             <input class="input1" type="text" name="first_name" placeholder=" Technology">
          </div>
           <div class="col-sm-3">
             <input class="input1" type="text" name="first_name" placeholder=" IS943RQ3">
          </div>
           <div class="col-sm-3">
             <input class="input1" type="text" name="first_name" placeholder=" 2019-10-02T14:54Z">
          </div>
        </div>
        <br>
        <h5>Issue</h5>
        <div class="row" >
          <div class="col-sm">
            <textarea class="textarea" rows="4" cols="50" ></textarea>
          </div>
        </div>

        <br>
        <h5>Top-3 keywords match:22</h5>
        <div class="row " >
          <div class="col-sm-3">
            <button type="submit" class="btn btn-primary btn-sm keyword1">QoS</button>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-primary btn-sm keyword1">Mission-critical</button>
          </div>
          <div class="col-sm-3 ">
            <button type="submit" class="btn btn-primary btn-sm keyword1">Connected cars</button>
          </div>
        </div>

        <br>
        <h5>Other related keywords</h5>
        <div class="row " >
          <div class="col-sm-3">
            <button type="submit" class="btn btn-success btn-sm keyword1">Evolved Packet Core</button>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-success btn-sm keyword1">Latency</button>
          </div>
          <div class="col-sm-3 ">
            <button type="submit" class="btn btn-success btn-sm keyword1">Telemedicine</button>
          </div>
          <div class="col-sm-3 ">
            <button type="submit" class="btn btn-success btn-sm keyword1">3Gpp</button>
          </div>
        </div><br>
        <div class="row " >
          <div class="col-sm-3">
            <button type="submit" class="btn btn-success btn-sm keyword1">OpenStack</button>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-success btn-sm keyword1">API</button>
          </div>
          <div class="col-sm-3 ">
            <button type="submit" class="btn btn-success btn-sm keyword1">QCI</button>
          </div>
          <div class="col-sm-3 ">
            <button type="submit" class="btn btn-success btn-sm keyword1">Autonomous</button>
          </div>
        </div><br>
      </form>
    </div>
  </div>
</div>

